[2017-09-06 22:57] Cryptyc opened #2 "Hardcoded paths for DLL and replay directory"
Should be set through config

[2017-09-06 22:58] Cryptyc opened #3 "DLL or CC format only supported"
Should support binaries, to enable linux devs to use bots

[2017-09-06 22:59] Cryptyc opened #4 "No sound in client"
Currently no sound from SC2 client.  Should find a way to enable this

[2017-09-06 22:59] Cryptyc opened #5 "Replays uploaded as null"
Need to correctly upload replay file

[2017-09-06 23:27] Cryptyc opened #6 "In game names are randomised, we should edit the replays to change the names"
Should be set to the bot name

[2017-09-15 11:06] Cryptyc commented on #5
Fixed in latest upload

[2017-09-15 11:06] #5 closed

[2017-09-15 11:06] Cryptyc commented on #2
Fixed in latest upload

[2017-09-15 11:06] #2 closed

[2018-04-15 13:27] SimonPrins opened #16 "LadderManager crashes without error message"
I have a problem getting the LadderManager to work.
I compiled it on my own machine. I also edited in pull request #15 which fixed a different crash I encountered.
I am trying to run a match between 5minBot and tscmoo.
Two Starcraft instances start, but they remain black and don't load the map.
Two new prompts pop up, one for each bot.
After a while the LadderManager crashes and a window pops up w

[2018-04-16 10:54] Cryptyc commented on #16
Ok, I'll take a look thanks

[2018-04-22 20:33] Cryptyc commented on #16
I think I managed to reproduce the problem.  It seems to be an issue in the way sc2 starts up.  I'm looking into it.  I think it might be something in the sc2 config

[2018-05-30 12:02] SimonPrins commented on #16
I have tried deleting the Variables.txt file and starting SC2 again to recreate it. This has actually worked once and I was able to play a game with the ladder manager. The next time, however, it didn't work anymore, even after deleting the Variables.txt file again.

I suspect the problem is actually with the Starcraft 2 client itself, so I will close this issue.

[2018-05-30 12:02] #16 closed

[2018-05-30 12:24] SimonPrins opened #23 "Bot does not get a chance to receive and handle the result of the game."
When a bot requests an observation after the game has ended, the Starcraft 2 client sends a final Observation response, with status 'Ended'. The PlayerResult field will tell you which bot won or lost. This works fine for my bot when I run it in single player mode vs the Blizzard AI, but when I use it with the LadderManager I never receive the response.

I suspect that either the Starcraft 2 client

[2018-06-07 05:34] NikEyX opened #27 "Bots should operate in their working directory"
Right now the bots are launched from the ladder managers' working directory, which results in my bot creating all kind of files in the root. For safety and for easy of use, it would make sense to launch bots from within their own working directories (without access to anything else).

[2018-06-07 05:37] NikEyX opened #28 "Consolidate configuration files"
I think it would be a lot better if the users wouldn't need to worry about 5 different config files, some of them even being in different directories.

How about a single (or maybe a max of 2) JSON files that contain all relevant config settings?

Also, please add file extensions, e.g. bots.cfg - disregarding file extensions comes at the detriment of windows users (unless they use NotePad++, but t

[2018-06-07 07:27] alkurbatov commented on #27
Hi, @NikEyX .
This issue will be fixed after merge of #21. A separate 'build' directory will be used to compile and run the server.

[2018-06-07 07:31] alkurbatov commented on #27
No, I am wrong here. You are speaking about bots, not the server.
Regarding the bots we have #25 already merged.

[2018-06-07 08:26] Cryptyc commented on #27
This will be implemented for the next version

[2018-06-07 08:37] lladdy commented on #27
@Cryptyc does this mean it's already done?
Is it worth me looking into?

[2018-06-07 08:56] lladdy commented on #28
I'm in support of this.
Seeing as we have json support, it might not take much to merge LadderBots.json, LadderManager.conf and maplist into 1 json file

[2018-06-07 09:05] Cryptyc commented on #27
its something thats basicly done, I just need to clean things up and get it in the repo

[2018-06-07 09:06] alkurbatov commented on #28
People tend to split thing into smaller and easy-to-manage parts and here you request to create a 'super' config ;)

Thats really a matter of taste. I would say that we can join maps pool and bots config but even current situation looks good.

Which can cause loss of syntax highlight support in some IDEs and text editors. Does it really worth?
Don't forget that the server is going to be cross plat

[2018-06-07 09:10] Cryptyc commented on #28
I think maybe we can merge the maplist and the ladderbots config file into an instance config, and still keep the main settings config file, as we current have.  This way there is a clear distinction.  The matchup list should never be contained in a config file as it is auto generated.

[2018-06-07 10:54] lladdy commented on #27
All good then :)

[2018-06-07 15:51] lladdy commented on #28
@Cryptyc I'm not sure what you mean by this?

[2018-06-08 19:19] lladdy commented on #23
@SimonPrins @Cryptyc
Is this still an issue?

[2018-06-08 19:20] NikEyX commented on #23
Yes, still an issue

[2018-06-10 10:41] alkurbatov opened #31 "Allow to disable replays upload"
Usually we need to upload replays only after real ladder games, thus this functionality is not needed in testing and bot creator's experiments.
Lets allow to disable replays upload via a dedicated cmake variable, e.g. UPLOAD_REPLAY:BOOL.

[2018-06-10 10:42] alkurbatov commented on #31
The only question is should the replays upload be enabled or disabled by default.

[2018-06-10 11:25] Archiatrus opened #32 "Check if createProcess failed"
https://github.com/Cryptyc/Sc2LadderServer/blob/master/src/LadderManager.cpp#L616

Sometimes executing the command for the bot fails. Starting then the GameUpdate functions anyway sometimes causes trouble. Best case we only have to wait through all the sleeps even though we already know that the result is `ResultType::PlayerXCrash`. Worst case I had was that the Programm got stuck,

[2018-06-10 11:32] Archiatrus opened #33 "Access limitations for bots"
The bots should only have access to the working directory (and sub-directories). It is especially important that they can not interrupt the other bots processes.

[2018-06-10 11:33] Archiatrus commented on #27
Working directory was introduced in fcbff6a6b73d2522308f5177570b8e698bbfe361
I wrote a seperate issue for the security concerns #33

[2018-06-10 11:38] Archiatrus opened #34 "Filter out debug messages"
Aside from the obvious `Debug()->DebugKillUnit(enemyNexus)` this can also speed up the games since all the drawing slows it down.

[2018-06-10 15:22] lladdy opened #35 "Currently in header hell"
I propose we move the project towards a header include style that renders each header self sufficient, meaning that each header will compile on its own.
This is a brief write up on what I mean: https://www.eventhelix.com/RealtimeMantra/HeaderFileIncludePatterns.htm

Currently if we want to include a header, we need to include all its dependencies as well. I'm currently experiencing this whilst sep

[2018-06-10 15:41] lladdy commented on #35
Understood - happy to avoid forward declarations then.

[2018-06-10 15:53] lladdy commented on #35
Discussed on discord - up to people to maintain this for themselves.
Closing issue as no longer needed.

[2018-06-10 15:53] #35 closed

[2018-06-11 21:41] Cryptyc commented on #23
This should be fixed with latest changes, any more problems, let me know

[2018-06-11 21:41] #23 closed

[2018-06-11 21:55] Cryptyc commented on #33
Up until now I've been reliant on user permissions and running as an untrusted user.  I'm not sure if theres a good way of doing this programatically, but I might take a look into this when I get time

[2018-06-12 18:03] m1ndgames opened #36 "Proposal: Kill-Timer"
I propose to implement a kill-timer that ends the match (with a draw) after some time (5m?) without any kill has passed.

What do you think?

[2018-06-12 18:09] lladdy commented on #36
This isn't a bad idea. I think it depends on how many "micromachine walking into a wall for 5 minutes" replays we get.

Currently it appears that this was already planned for implementation - there's "MaxGameTime" configuration setting in the LadderManager.conf file.

Otherwise, an alternative might be to simply rely on the in-built SC2 draw timer. I believe the in-built timer is also extended by

[2018-06-12 18:16] Cryptyc commented on #36
Currently we have the built in draw timer, and the max game timer, which just times out the match after 45mins.  It would be possible to implement a kill timer, but would take a bit of hacking around with the observation responses.

While this would be good, I think its fairly low priority at the moment, but if I get some time after the rest of the bugs have been fixed, I'll take a look

[2018-06-12 18:30] m1ndgames commented on #36
To give an Example, check this Replay: http://107.161.27.148/replay/4raxBotvHJaxAI-OdysseyLE.Sc2Replay

Both AIs are kinda flawed. Zerg is not attacking and Terran is not looking for other bases. After 12 minutes nothing happens anymore. Using a timer that checks for kills could be a solution to pass those games quicker. (on the ladderserver and while replaying)

btw.: sscait has it aswell, I dont

[2018-06-12 18:50] Cryptyc commented on #31
This has been fixed in latest commit

[2018-06-12 18:50] #31 closed

[2018-06-12 18:51] Cryptyc commented on #3
We're way past this :)

[2018-06-12 18:51] #3 closed

[2018-06-12 19:58] Archiatrus commented on #36
I would say it is very hard to find a good threshold. My bot is very passive in the beginning. If it would play against itself it would easily reach 5 min without a kill.

[2018-06-12 20:30] m1ndgames commented on #36
Yep, how about the kill timer starts after 5 minutes to allow "turtles" to set up the base

[2018-06-12 21:03] lladdy commented on #36
If you're still using the observer that @Archiatrus wrote at the time, then I figure we'd only need to control the step rate?

As I see it, the win condition for Sc2 is already well defined within the game. Correct me if I'm wrong, but I see this as more of an issue of observing the replays afterwards, which I would hope the Observer can be adapted to cater for? (Does running the game in real-time

[2018-06-12 21:05] m1ndgames commented on #36
Totally, for the ladder it makes no difference ;)

[2018-06-13 14:39] lladdy commented on #27
I think we can.

[2018-06-19 20:20] Archiatrus opened #41 "Basic scripts to generate matchuplist"
Would nice if also a basic script is included that can create certain types of matchup lists. Like if you want to test your bot against all other available bots on all available maps. Or round robin bo1. Or...

[2018-06-19 21:41] lladdy commented on #41
This sounds useful.
Would you do it as a standalone/disconnected ability? or just have it as an optional pre-step to running the ladder? Of course both is an option as well:
[code]
This could be used in future with website integration as well:
[code]

[2018-06-19 21:44] Archiatrus commented on #41
I think I would separate it. More intuitive for the user. Not everyone is used to command line etc.

[2018-06-20 06:20] alkurbatov commented on #41
I believe we should the runtime modes according to the usage scenarious. Right now we have at least 3:
a. A developer runs 1vs1 match (no matchup list really needed).
b. @Cryptyc runs the ladder (specific way to generate the list).
c. Others run their own tournaments (different matchup lusts abd ways to generate it).

If we could simplify #a (e.g. no list) and provide a tools to generate the list

[2018-06-20 06:46] Archiatrus commented on #41
I disagree with a. and "no matchup list really needed". I would imagine something like this would be useful:

- My bot: Abot
- Opponents: Bbot, Cbot, DBot
- Maps: X,Y,Z
- Optional: repeat t times

And then it generates a list with Abot vs each of the other bots on each map.

I think b is basically covered already. If you do not provide a matchuplist file it generates round robin on all maps. But i

[2018-06-20 06:52] alkurbatov commented on #41
This true when you need a complex test (e.g. before release), but what if you just try to beat a specific opponent again and again?

I think, the match up list generation should be moved out of the ladder server into the scripts (ideally python scripts to support crissplatform by default). So the workflow would be:
1. Generate a match up list with one of the existing scripts or your own.
2. Check

[2018-06-20 06:54] Archiatrus commented on #41
Yeah totally agree with this workflow. That is what I meant with "separated". And yes, it can be very useful to quickly(!) generate this complex test a few hours before the submission deadline ;)

[2018-06-20 07:12] Archiatrus opened #42 "Commit a5efd2a8550e3f6befa05b8ad8506e187f32afe5 broke relative path support."
The commit a5efd2a8550e3f6befa05b8ad8506e187f32afe5 broke relative path support.

The root path is not needed because you actually start python.exe. And you give it rootpath as working directory [here](https://github.com/Cryptyc/Sc2LadderServer/blob/master/src/ToolsWindows.cpp#L46). So the bot file is from the perspective of python.exe located at .

[2018-06-20 07:31] Cryptyc commented on #41
Definately a good idea, I may try to have a look at doing something tonight if I get some time

[2018-06-20 07:34] Cryptyc commented on #42
Fixed in commit f5688a40d1153ead8122673b5aac8efbe6b8e3bd

[2018-06-20 07:34] #42 closed

[2018-06-20 07:38] Archiatrus commented on #41
Hjax (?) already had a basic one yesterday. Maybe he is bored ;)

[2018-06-20 07:57] Archiatrus opened #43 "Add a flag to also catch stdout"
Yesterday we struggled to get the python-sc2 bots to run with the laddermanager. In the end it turned out that the sc2 executable path was hard coded in python-sc2. This would have been easy to fix but the problem was that the "executable not found" error was sent to stdout. And the bot window closed so fast that you could not read it. The error log stayed empty.

That is why I propose a --debug f

[2018-06-20 14:07] Archiatrus opened #44 "Restrict search width for opponents/ introduce leagues based on this search width."
To avoid 0-10 elo change games I propose to limit bot matches to those that can award at least 1-9 elo points. To make this more intuitive I would say we should introduce leagues that match these ranges. From the experience of playing SC2 it is intuitive that someone gets matches against an opponent maximum 1 league difference. So it happens that a Platinum player is matched against a gold player

[2018-06-20 14:09] Archiatrus commented on #44
The needed code change would be minimal. Something along the lines of:
[code]

[2018-06-20 22:42] Cryptyc opened #45 "Create CMake files for Tests and DebugBot directories"
From @alkurbatov :
I still suggest to apply this:
tests/CMakeLists.txt #include all the nested tests directories (unit-tests, debug bot, functional tests).
tests/DebugBot/CMakeLists.txt # Compile the debug bot.

There is not much work to do and we could add unitests someday, don't want to restructure the project again.

[2018-06-20 23:35] lladdy commented on #45
@alkurbatov if you know any projects that are setup like this, it would be good to have them as reference.

[2018-06-21 05:50] alkurbatov commented on #45
https://github.com/Microsoft/cpprestsdk/tree/master/Release/tests

[2018-06-22 17:59] BurnySc2 opened #48 "Write results (win/loss) to text or json file"
Please have the LadderServer save results to a text or json file.

Most importantly is which bot won, but other optional useful information (for bot debugging) could be:
- matchup
- game duration
- resources (bank) at the end of the game of both players
- supply / max supply at the end of the game of the winning player
- time supply blocked

[2018-06-22 21:28] Cryptyc commented on #48
Sounds like a good idea, I can start on this next week.  Basic info such as win/loss and game duration should be easy, might be take a bit more time for some of the more complex info

[2018-06-23 12:05] Cryptyc commented on #48
This has been implemented in c2c8d1cfe60f684d90eae23da509bd2e8b17da50

[2018-06-23 12:05] #48 closed

[2018-06-23 12:43] #27 closed

[2018-06-23 12:48] Cryptyc commented on #28
I have merged the maplist and ladderbots.json file into a single file in #41ab8acd20875e3883840f2e7aba10d059d0d0d3  I think this makes our current situation pretty good, so closing this issue

[2018-06-23 12:48] #28 closed

[2018-06-23 21:32] Cryptyc commented on #4
Closing as no way to fix

[2018-06-23 21:32] #4 closed

[2018-06-27 08:23] alkurbatov opened #52 "Workaround SC2 API bugs #263 and #234"
It seems that we should workaround the mentioned bugs.

While https://github.com/Blizzard/s2client-api/issues/234 is not cause much harm, https://github.com/Blizzard/s2client-api/issues/263 is really bad.

Lets apply the simplest workaround and disable the 'Select All Larvas' setting in the game.

[2018-06-29 09:28] Archiatrus opened #53 "Setting `EnablePlayerIds(true)` in the constructor ends the execution almost immediately"
title

[2018-06-29 09:29] Cryptyc commented on #53
I'll take a look at this tonight

[2018-06-29 09:36] Cryptyc commented on #53
Setting PlayerIdFile variable in config is a workaround for this.  I will work on a proper fix

[2018-06-29 22:21] Cryptyc commented on #53
@Archiatrus I haven't been able to reproduce this, can you send me your config file to check?

[2018-06-29 22:32] Archiatrus commented on #53
I am not at home right now. But the config was the normal one that just missed the playeridfile field.

[2018-06-30 16:50] lladdy opened #55 "Update s2client-api submodule"
Update the commit that the s2client-api submodule references in our repo in order to keep up with recent changes to s2client-api and not lag too far behind.

[2018-07-05 14:26] lladdy opened #61 "Tests working directory only set for VS"
Currently the working directory for the tests is only set for Visual Studio.
This needs to be resolved so that other compilers/platforms will work as well.

[2018-07-06 23:13] m1ndgames opened #62 "[linux] cannot bind to 127.0.0.1:5677: 98 (Address already in use)"
When the Ladderserver starts Sc2 it cant bind to the port, if the exact same command is given, the port can be assigned:
`"/home/sc2ai/StarCraftII/Versions/Base60321/SC2_x64" -listen 127.0.0.1 -port 5677 -displayMode 0 -dataDir /home/sc2ai/StarCraftII -tempDir /tmp/SC2_lme62fu9`

Version: B60604 (SC2.4.01)
Build: May  1 2018 19:24:12
Command Line: '"/home/sc2ai/StarCraftII/Versions/Base60321/SC2_x

[2018-07-06 23:22] m1ndgames opened #63 "[linux] python is launched in botdirectory - file not found"
applies to linux only:
currently the ladderserver tries to launch python locally in the bot directory and fails.

if execv in [ToolsUnix.cpp](https://github.com/Cryptyc/Sc2LadderServer/blob/master/src/sc2laddercore/ToolsUnix.cpp#L58) is replaced with execvp the python path should be available. (untested)

[2018-07-06 23:30] m1ndgames opened #64 "python naming differences"
on linux the command "python" points to python v2 and "python3" to v3. the ladderserver currently runs "python" while python-sc2 needs python >v3.6.

on debian and ubuntu which are the most used desktop linux os, "python3" points to python v3.5.
if you install python v3.6, you will need to call "python3.6".

On windows it depends how python is installed as anaconda might call python v3.6 while an

[2018-07-07 07:59] alkurbatov commented on #64
Probably that should b3 set per bot (i.e. in the bots config) as we could have pysc2 bots too.

[2018-07-07 09:31] m1ndgames commented on #64
Could we make it mandatory to use python3.6 on the ladder? (The version is needed for python-sc2, while pysc2 can still be used with 3.6)

[2018-07-07 10:42] m1ndgames commented on #62
One connection is working at least:

Sc2Ladder 40056 sc2ai    3u  IPv4 8186603      0t0  TCP *:5677 (LISTEN)
Sc2Ladder 40056 sc2ai   22u  IPv4 8193251      0t0  TCP localhost:5677->localhost:60778 (ESTABLISHED)
python    40302 sc2ai    4u  IPv4 8190670      0t0  TCP localhost:60778->localhost:5677 (ESTABLISHED)

[2018-07-07 11:05] m1ndgames commented on #62
Finding: it only happens when a bot is using python-sc2

[2018-07-07 12:55] m1ndgames opened #66 "[linux] Add "Type": "wine""
On linux windows executable bots must be run thru wine.

I suggest to add a "Type": "wine" to the LadderBots.json handler that runs the bot file with "wine botbinary.exe"

[2018-07-07 13:56] m1ndgames commented on #62
fixed in https://github.com/Hannessa/python-sc2-ladderbot/commit/d8fda8109d98690797aaf265ff56dacdc0f2e6c4

[2018-07-07 13:56] #62 closed

[2018-07-08 09:59] alkurbatov commented on #63
Fixed.

[2018-07-08 14:38] m1ndgames commented on #63
verified

[2018-07-08 14:38] #63 closed

[2018-07-08 14:48] m1ndgames commented on #41
just reading this... i use a small script to generate a list of matches against all enemies on all maps:
https://gist.github.com/m1ndgames/b69dded852916138b910ff4e45cbbc6c

its perl tho ^^

[2018-07-15 15:50] NikEyX commented on #41
Personally I'd love to have a GUI for that. Using something like QTDesigner might be the easiest. It would make usage a lot nicer - especially since we have had a large inflow of new people it would help tremendously to give them easy-to-use tools. I agree with Arch that command line isn't for everyone and I think we need to make it as easy as possible for people to use

[2018-07-17 05:24] #61 closed, assigned to nobody

[2018-07-17 05:46] lladdy commented on #6
@Cryptyc can this be closed now?

[2018-07-21 21:14] Cryptyc commented on #6
yep. fixed with https://github.com/Cryptyc/Sc2ReplayNameChange

[2018-07-21 21:14] #6 closed

[2018-07-29 08:38] lladdy commented on #45
I believe now this issue has been satisfied and can be closed.

[2018-07-29 23:29] lladdy opened #71 "Config format standardization"
Currently we have multiple configs that use differing formats.
I suggest we standardize any configs to all use the same format to allow the use of the same tools/libraries for all configs.
Json makes sense to me at this point in time.

I'm happy to take on this task - just want to make sure people are in support of it if I do.

[2018-07-29 23:33] #36 closed

[2018-07-30 06:35] alkurbatov commented on #71
So, which format is preferred?

[2018-07-30 10:11] lladdy commented on #71
Probably Json if that's what you mean: The change would be minimal because we already have rapidJson integrated.

[2018-07-30 12:44] alkurbatov commented on #71
The only issue with json is that it is not detected by default on Windows, see:
https://github.com/davechurchill/commandcenter/issues/18

It could be also .ini (might be recognized on Windows by default) or .yaml which is very popular now.

[2018-07-30 13:15] lladdy commented on #71
That's a fair enough reason.

.ini is recognized on windows. Neither yml nor yaml are.
I would be eager to consider YAML as it seems a suitable candidate for configs in general, but my intention here is to merely standardize the formats first in order to simplify working with the configs (one file format, one parser, etc).
Maybe this is too many changes and we should first decide the final format?

[2018-08-05 23:01] m1ndgames commented on #66
https://github.com/Cryptyc/Sc2LadderServer/commit/c9f352ed9a30a82b3e4067f4e4fdc215afdee88d

[2018-08-05 23:01] #66 closed

[2018-08-05 23:02] m1ndgames commented on #64
https://github.com/Cryptyc/Sc2LadderServer/commit/c9f352ed9a30a82b3e4067f4e4fdc215afdee88d

[2018-08-05 23:02] #64 closed

[2018-08-07 08:12] lladdy opened #75 "LocalReplayDirectory is invalid without a trailing slash."
As per https://github.com/Cryptyc/Sc2LadderServer/pull/74#discussion_r208117752

The LocalReplayDirectory setting in the LadderManager configuration is invalid if it doesn't have a trailing slash.
This ideally should be resolved so that it can be validly handled without said trailing slash.

[2018-08-07 09:10] m1ndgames commented on #33
Basically you would need to implement some form of Sandbox. I think this should be offloaded to the underlying host system. (chrooted env/user accounts)

[2018-08-07 09:13] alkurbatov commented on #33
Unfortunately, it is easy to jump out of chroot. Probably we need a set of restricted users or groups.

[2018-08-07 11:37] #71 closed

[2018-08-11 17:33] alkurbatov commented on #33
I can add 'run under userX' to UnixTools however I need to know the userX's user id and group id.

[2018-08-12 14:10] alkurbatov commented on #43
Implemented for Unix, Windows part still requires implementation.

[2018-08-19 20:29] ocraft opened #80 "Support for java bots."
Please add the support for java bots written with https://github.com/ocraft/ocraft-s2client. The command that should be used to run the bot:

java -jar BOT.jar // e.g. java -jar ocraft-bot.jar --GamePort 5000 --StartPort 5050

Java should be in the version 1.9 or higher.
Bot sample prepared for the ladder: https://github.com/ocraft/ocraft-s2client/blob/master/ocraft-s2client-sample/src/main/java/c

[2018-08-19 22:35] Cryptyc commented on #80
Added in c9c96674db16036ceab820790eb23ffd6f7d1cbb

[2018-08-19 22:35] #80 closed

[2018-10-06 08:51] alkurbatov opened #84 "Better error reporting"
From @Rorschach on Discord:
[code]

Looks like we need to improve error reporting in some way (currently there are lots of messy output) in some way. Probably show only stderr or drop unused info?

Also, I would say, that we need a troubleshooting guide.

[2018-10-06 09:05] lladdy commented on #84
+1 for this if anyone gets time.
We could probably utilize exceptions to clean up a lot of the error handling and reporting.

[2018-10-06 09:06] Cryptyc commented on #84
yeh, its something I'll definately look at after this season of the ladder is over.  Really busy with getting the tournament and everything sorted right now though

[2018-11-28 21:50] Archiatrus commented on #43
Already implemented with the debug field in the bot json.

[2018-11-28 21:50] #43 closed

[2018-12-08 15:57] ericbroda opened #93 "Compile errors building Sc2LadderServer on OSX"
I am using OSX (MacOS, High Sierra, 10.13.6) and am getting the following error when building Sc2LadderServer.  Any help is appreciated.

Followed instructions and tried command:  make Sc2LadderServer.

Much of the code built (with lots of warnings) but the following error stopped the build:

Building C object s2client-api/contrib/civetweb/src/CMakeFiles/civetweb-c-library.dir/civetweb.c.o
[workin

[2018-12-08 16:02] alkurbatov commented on #93
Hi @ericbroda
This is the sc2API issue, see https://github.com/Blizzard/s2client-api/issues/239

[2018-12-08 17:34] ericbroda commented on #93
I fixed the civetweb issue (as per #239 referenced above) and now received the following error:

[ 96%] Building CXX object src/CMakeFiles/Sc2LadderCore.dir/sc2laddercore/AgentsConfig.cpp.o
[working-dir]/Sc2LadderServer/src/sc2laddercore/AgentsConfig.cpp:8:10: fatal error: 'filesystem' file not found
#include <filesystem>
         ^~~~~~~~~~~~
1 error generated.
make[2]: *** [src/CMakeFiles/Sc2Lad

[2018-12-08 18:11] alkurbatov commented on #93
This is broken by @Cryptyc
You should either comment this functionality, or install gcc6 e.g. using homebrew.

[2018-12-08 21:40] ericbroda commented on #93
I installed gcc6 (using homebrew) as well as other gcc/g++ versions and the builds (each version) broke at the same point.  OSX support for "filesystem" is not very complete, it appears.

Any other ideas?

[2018-12-08 22:09] ericbroda commented on #93
Here is the latest set of compile errors:

[code]

[2018-12-09 09:50] Cryptyc commented on #93
I probably need to put something in the tools to replace this, I'll do that after I got the new season running, should be this week, sorry about this.

[2018-12-09 11:55] alkurbatov commented on #93
@ericbroda but as you can see here we have a different set of errors (again in the c++ API) which means that you should add some flags or do some fixes to make it work.
Perhaps lower version of gcc (e.g. 5th) would work, not sure. As far as I've head `filesystem` was added to gcc6, not sure about gcc5.

[2018-12-18 16:12] ericbroda opened #94 "Docker image for Sc2LadderServer"
Is there a docker image that is available for the ladder manager.  This would allow any OS that supports docker to run a bot via ladder manager.

[2018-12-18 16:25] Cryptyc commented on #94
We're working on that at the moment, not sure when this might be ready though

[2018-12-20 17:45] tweakimp opened #95 "Average frame time in results"
Please add the average frame time and/or more statistics to the `results.json`.
Other things to add might be:
 - average actions sent
 - average actions*time/frame
 - time for first frame

[2018-12-21 23:43] Archiatrus opened #96 "Stalemate detection"
Should be possible to detect if there are only flying buildings. From that moment start a timer of X minutes until draw.

[2018-12-29 19:05] kksmed opened #99 "Disable time out for debugging"
I think a lot of bot developers use the ladder manager to test out their bots while developing.

In these scenarios it would be really helpful to be able to disable the time out, so you can debug the bot-code without worrying for the time out to kick in and the game to be shut down.

[2018-12-30 08:47] alkurbatov commented on #99
I think we can reuse the Debug flag for this purpose.

[2018-12-30 16:41] Archiatrus commented on #99
Thought the same... many times. And then I always forgot. So thanks for writing the issue. Should be trivial.

[2019-01-02 11:16] alkurbatov commented on #93
@ericbroda Now compilation is fixed. Feel free to try :)

[2019-01-02 17:02] NikEyX opened #101 "Add timestamp to results"
Hi guys,

can you add the timestamp (in UTC) to Results.json?

Also notable that there is no consistency in the naming convention of files. Some are pascalCase, some CamelCase, some have endings, other don't.

Best
-Nik

[2019-01-03 06:21] Archiatrus opened #102 "Args in ladder bots.json not working"
{
    "Bots": {
        "TEST": {
            "Race": "Zerg",
            "Type": "BinaryCpp",
            "RootPath": "../TEST",
            "FileName": "Bot.exe",
            "Args": "--optimal",
            "Debug": false
        }
    }
}

results in
Assertion failed: false, file c:\users\d\desktop\sc2 ai\sc2ladderserver-exe\rapidjson\document.h, line 1135

[2019-01-03 06:37] Archiatrus opened #103 "Antivirus programs panic"
![Windows defender for example](https://user-images.githubusercontent.com/33926917/50625724-28427d80-0f2a-11e9-9455-b5873667c8cf.png)
Some users on discord suspect it is because 127.0.0.1 is hard coded.

[2019-01-03 06:38] jkantr commented on #103
Apparently the request for clemency to MS is made via this thing:
https://www.microsoft.com/en-us/wdsi/filesubmission

[2019-01-03 09:13] Cryptyc commented on #103
I'll take a lok this evening

[2019-01-03 09:16] Archiatrus commented on #103
Submitting the file to MS only solves the problem with MS defender. I also need to whitelist the exe all the time for my avira antivirus.

[2019-01-06 16:07] Cryptyc commented on #93
Fixed

[2019-01-06 16:07] #93 closed

[2019-01-06 17:10] Archiatrus opened #110 "Average time calc on Linux broken"
Compiled with gcc (gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0).

06-01-2019 18-05-59: Cpp Exiting with GameEnd Average step time 5457.8, total time: 1.52109e+07, game loops: 2787
06-01-2019 18-05-59: ocraft Exiting with InProgress Average step time 7056.86, total time: 1.96604e+07, game loops: 2787

[2019-01-06 17:15] Archiatrus opened #111 "Wait for key press before closing LM window"
If one of the the bots has debug true it might be a good idea to keep the window open after the LM finished. If no bots or maps are found and the the LM is not started from console, the window closes before anyone can read all the nice debug lines that tell you about the problem.

Thoughts? I can imagine that in the upcoming distributed ladder it maybe is a feature that the LM closes eventually. @

[2019-01-06 18:17] Archiatrus commented on #95
I propose we change the format of the result json a bit. Something like this:

[code]

As far as I can see one can only get actions on a individual unit basis. This means if I send an action to 10 marines to attack something as a group, it will be 10 actions. So it won't be comparable with human APM.

I am not a fan of redundant information. So if in the json there is already game loops and number

[2019-01-06 19:53] tweakimp commented on #95
I would also add the race. For random add Random(Race).

[2019-01-06 22:01] Archiatrus commented on #41
Resolved for me with the ladderGUI.

https://github.com/NikEyX/LadderGUI

[2019-01-06 22:01] #41 closed

[2019-01-06 22:04] Archiatrus commented on #44
Elo gating is already introduced.

[2019-01-06 22:04] #44 closed

[2019-01-06 22:07] Archiatrus commented on #53
In the end the solution was using an up to date config file, i.e., one that has a player id file field.

[2019-01-06 22:07] #53 closed

[2019-01-08 11:03] aiseeq opened #115 "Could you please add setting to launch games in realtime mode?"
It would be very helpful for vs-human games. Because now I use old version with realtime hardcoded

[2019-01-08 20:06] Archiatrus opened #117 "Try first SIGINT before SIGKILL"
There are a few cases where bots get stuck waiting for a response. It might be a good idea to first use SIGINT so that a bot has the chance to shut down gracefully. Only if it still is not resonding one can use SIGKILL.

The problems seems to be that on windows it is a bit tricky. Maybe this is how it can be done: https://docs.microsoft.com/en-us/windows/console/generateconsolectrlevent

[2019-01-08 20:20] Archiatrus commented on #96
My solution:

[code]

Did I miss an obvious or not so obvious corner case?

[2019-01-08 20:26] Archiatrus opened #118 "Different step sizes can lead to frozen bots"
If the game update function is left by one bot during an "off loop" of the other bot, the other bot will wait indefinitely for a response. For example, python-sc2 bots have a default step size of 8. If the other bot has a time out etc during a loop that is not dividable by 8 the python-sc2 bot will ALSO have a time out.

[2019-01-13 12:56] Archiatrus commented on #115
Added in #120

Just change the `RealTimeMode` value in ladderManager.json to true.

Also included in the newest precompiled LM.

If this solves the problem please remember to close the issue. Thx.

[2019-01-13 20:53] Archiatrus opened #122 "dirent.h is not found"
The dev branch (didn't test master) is not compiling under Windows because dirent.h is not found. I know it is in sc2util but the compiler does not find it. I also think it is suspicious that it is `#include "dirent.h"`. Shouldn't it be `#include "sc2util/dirent.h"`? (Also doesn't work.)

Could it be that you somehow have dirent.h installed on some standard path @Cryptyc ? What happens if you say

[2019-01-14 05:21] alkurbatov commented on #122
Have you launched cmake before compilation?
If you dud, have you cleaned up cmake cache before launch?

[2019-01-14 05:57] Archiatrus commented on #122
CMake yes, clean up no. Good point.

[2019-01-14 08:14] alkurbatov commented on #122
It shouldn't, because `sc2util/dirent.h` is pure Windows and Linux systems already has direct.h.

[2019-01-14 10:59] Archiatrus commented on #122
How does the s2client-api handle that when you compile it on Linux? I will look it up.

[2019-01-14 11:36] alkurbatov commented on #122
Yes, @Cryptyc used the similar approach and we got broken unix builds.Thats why we search for direct.h in CMake.

[2019-01-18 04:37] Lambdanaut opened #123 "Mac build fails"
OSX version 10.13.6 High Sierra

Process followed:
[code]

Errors:
[code]

Possible solution: https://stackoverflow.com/questions/40761120/unknown-warning-group-wmaybe-unintialized-mac-os-sierra

[2019-01-18 04:48] Lambdanaut commented on #123
I'm trying to fix it.

[2019-01-18 04:59] Lambdanaut commented on #123
Okay, I fixed it with the mentioned stackoverflow solution, but I can't figure out how to create a pull.  It's a pretty straightforward solution though.

[2019-01-18 08:48] alkurbatov commented on #123
Hi @Lambdanaut
This is the issue in civet web which is part of s2client-api, not the Ladder manager itself.
We have a quite simple suggested solution for this: https://github.com/Blizzard/civetweb/pull/1
but there is no progress on this.

You can apply the patch from the hacks folder to workaround the issue.

If you want to apply a different fix, I assume it should be done in s2client-api, not her

[2019-01-18 16:47] Lambdanaut opened #124 "`mach_override.c` Error while running Sc2LadderManager on OSX (Mac)"
When running Sc2LadderServer on my macbook, I see this error. I see it with DebugBot as well:

[code]

My SC2 client is up to date, and the folder `/opt/blizzard/buildserver/data.noindex/repositories/sc2/branches/SC2.4.8/Game/Contrib/macteam/libs/ClampCursor/Contrib/mach_override/` does not seem to exist in my environment. The folder seems to be referencing an old version of SC2(SC2.4.8) however I

[2019-01-19 09:11] Archiatrus commented on #122
I removed the build folder and tried to build again. It failed again with
[code]

[2019-01-19 09:13] alkurbatov commented on #122
Hm. I thought @Cryptyc checked compilation before merging that PR.
@Cryptyc ?

[2019-01-20 18:48] Cryptyc commented on #122
yeh, sorry it seems to work for me, I'l check it out with a fresh install though

[2019-01-21 07:38] alkurbatov commented on #122
@Archiatrus
I think that's because this line has a typo
https://github.com/Cryptyc/Sc2LadderServer/blob/master/src/CMakeLists.txt#L15

Try to change it to:
[code]

[2019-01-26 03:13] NikEyX opened #126 "Adding count-down for RT games"
Would it be possible to add a count-down for REAL-TIME games before the game starts, but AFTER the client has opened the SC2 windows? The point being that players need to be able to full-screen and get their controls up, before they play. Maybe we could even display a small count-down in the client/chat that starts at 10 seconds or so?

I have big plans, so let me know if this is feasible ;)

[2019-01-29 19:07] Archiatrus commented on #122
That fixed the problem. I leave this open until a PR fixing this is merged.

[2019-01-30 08:08] alkurbatov commented on #122
Ok, I'll prepare a PR at weekends, if it will not be fixed earlier.

[2019-02-05 08:50] #123 closed

[2019-02-05 08:50] Cryptyc commented on #122
This should be fixed now

[2019-02-05 08:50] #122 closed

[2019-02-05 08:50] Cryptyc commented on #123
Should be fixed by latest commit

[2019-02-05 19:02] Archiatrus commented on #123
I am not sure this is actually fixed.

@alkurbatov could you, as you suggested on the discord, make a PR to the README.md describing how to apply the "hack"?

[2019-02-05 19:05] alkurbatov commented on #123
https://github.com/Cryptyc/Sc2LadderServer/blob/master/.travis/install.sh#L9

[2019-02-05 19:10] Archiatrus commented on #118
Solved with #128

[2019-02-05 19:10] #118 closed

[2019-02-05 19:11] Archiatrus commented on #110
Solved with #128 and #130

[2019-02-05 19:11] #110 closed

[2019-02-05 19:14] Archiatrus commented on #99
Added with #108
Can this be closed?

[2019-02-05 19:16] Archiatrus commented on #75
Shouldn't be a problem anymore: https://github.com/Cryptyc/Sc2LadderServer/blob/Dev/src/sc2laddercore/LadderGame.cpp#L130-L133

[2019-02-05 20:12] #101 closed

[2019-02-07 13:55] lladdy commented on #75
Thanks @Archiatrus.

[2019-02-07 13:55] #75 closed

[2019-02-13 23:53] spacekitteh commented on #95
Stuff like "total minerals gathered" "build order" etc would be neat to see too

[2019-02-14 06:18] Archiatrus commented on #95
@spacekitteh total mineral gathered is available to the bot through the score interface. https://github.com/Blizzard/s2client-proto/blob/9906df71d6909511907d8419b33acc1a3bd51ec0/s2clientprotocol/score.proto#L31

The build order could also be logged by the bot itself.

I think the LM should only log things that are not available to the bot. Otherwise the result gets cluttered with lots of informati

[2019-02-14 07:41] alkurbatov commented on #95
@Archiatrus I believe this idea is inspired by Battle-net, where you can see gathering rate/count and actual build order. I doubt many bot authors would care about such things as BO logging especially because it could be considered as private strategy and requires additional efforts to implement such logging.
Another con for this is that we don't provide bot logs to third person, only to the autho

[2019-02-14 22:18] spacekitteh commented on #95
True, I keep forgetting people might not want to expose everything

[2019-03-08 07:18] spacekitteh opened #136 "Allow specifying ports on the command line"
So I can run multiple instances at once to parallelise.

[2019-03-08 08:58] Cryptyc commented on #136
Great idea.  I'll try to get on to this soon :)

[2019-04-02 07:48] alkurbatov commented on #124
Oh yes, this comes from s2client-api, dunno why. The issue should be moved there.

[2019-06-12 02:33] WanChuang1995 opened #142 "How can I handle this situation?"
12-06-2019 10-25-06: LadderManager started.
12-06-2019 10-25-06: Found agents:
12-06-2019 10-25-06: * MyBot
12-06-2019 10-25-06: * MyBot1
12-06-2019 10-25-06: Found the following maps:
12-06-2019 10-25-06: * CatalystLE.SC2Map
12-06-2019 10-25-06: Creating match: MyBot vs MyBot1 on CatalystLE.SC2Map
12-06-2019 10-25-06: MatchupList loaded from file with 1 matches to go.
12-06-2019 10-25-06: Initial

[2019-06-13 07:18] Cryptyc commented on #142
I'm not sure from the log.  It seems like the bot is failing to send the correct startgame request.   Its possible that this is a Blizzard bug that was introduced with the 4.9 client.  Is this what you are using.  Also can you confirm that both sc2 clients have been started?

[2019-06-24 06:18] #142 closed

[2019-06-24 06:18] WanChuang1995 commented on #142
Just use sc2 version=4.8.4

[2021-01-05 04:34] jmugan opened #145 "Configuring to run commandcenter"
Sorry for the stupid question. I'm trying to run commandcenter and it just says "Failed to start CCBot."

My `laddermanager.json` looks like this
[code]
The base directory is where I run `./Sc2LadderServer` is `/Users/jmugan/bin/Sc2LadderServer/build/bin`.

The directory `/Users/jmugan/bin/Sc2LadderServer/build/bin/Bots/CCBot` contains `CommandCenter`, `BotConfig.txt` and `ladderbots.json`. The fi

[2021-01-05 04:54] lladdy commented on #145
Hi @jmugan
Which version of command center are you using?
This is the most up to date version that I'm aware of: https://github.com/cpp-sc2/commandcenter

[2021-01-05 04:59] jmugan commented on #145
Yep, that's the one I'm using. I works fine if I run commandcenter by itself. Maybe I have to do something special in the `BotConfig.txt` to run on the ladder server?

[2021-01-05 05:27] lladdy commented on #145
You could try configuring it as a normal C++ bot instead, like so:
[code]

[2021-01-05 05:40] jmugan commented on #145
I tried `CommandCenter` and `BotConfig.txt` in the "FileName" place but neither seemed to work. But the debug flag was new to me.

Using the "Debug" flag on the original setup gave me
[code]
in stdout.log. That seems promising. Do you know what that might be?

[2021-01-05 06:01] lladdy commented on #145
I think the usual process is to compile the bot as its own executable (as opposed to running it as a command center bot type, which I don't know much about) and then configure the filename to point to said executable. I'm guessing the bot itself then takes care of finding the BotConfig.txt, provided it's in the bot's current working directory.

I'm just noticing that you're running in a linux envi

[2021-01-05 06:23] jmugan commented on #145
Thanks for your help @lladdy !